<br>
<br>
<br>
<br>

<center>
<h1>Merchants</h1>
</center>
<br>
<br>
<% @merchants.each do |merchant| %>
<section id="merchant_id-<%= merchant[:id] %>">
 
  <%= link_to "#{merchant[:attributes][:name]}", "/merchants/#{merchant[:id]}" %><br>
</section>
<% end %>